<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<RunConfiguration>
		<MaxCpuCount>1</MaxCpuCount>
		<!-- Path relative to directory that contains .runsettings file-->
		<ResultsDirectory>C:\temp\QSTV8_GUITestFehlerScreenshots</ResultsDirectory>
		<DisableParallelization>true</DisableParallelization>
		<PropertyGroup>
			<EnableDefaultItems>false</EnableDefaultItems>
		</PropertyGroup>
	</RunConfiguration>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector uri="datacollector://microsoft/VideoRecorder/1.0" assemblyQualifiedName="Microsoft.VisualStudio.TestTools.DataCollection.VideoRecorder.VideoRecorderDataCollector, Microsoft.VisualStudio.TestTools.DataCollection.VideoRecorder, Version=15.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" friendlyName="Screen and Voice Recorder">
				<!--Video data collector was introduced in Visual Studio 2017 version 15.5 -->
				<Configuration>
					<!-- Set "sendRecordedMediaForPassedTestCase" to "false" to add video attachments to failed tests only -->
					<MediaRecorder sendRecordedMediaForPassedTestCase="false"  xmlns="">
						<ScreenCaptureVideo bitRate="512" frameRate="2" quality="20" />
					</MediaRecorder>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>